Package: com.samstone.translucentcydia
Name: TranslucentCydia
Depends: mobilesubstrate
Version: 2.0.1
Architecture: iphoneos-arm
Description: Make Cydia translucent!
Maintainer: Sam Stone
Author: Sam Stone
Section: Tweaks
